{% block form_group %}
    {% spaceless %}
    <fieldset>
        <legend>{{ group|trans({}, translation_domain) }}</legend>
        {% for element_name in elements %}
            {% if form[element_name] is defined %}
                {{ form_row(form[element_name]) }}
            {% endif %}
        {% endfor %}
    </fieldset>
    {% endspaceless %}
{% endblock %}

{% block form_rows %}
    {% spaceless %}
        {% for group_name, group in form.vars.groups %}
            {{ form_group(form, {'group_name': group_name, 'group': group_name , 'elements' : group}) }}
        {% endfor %}
    {% endspaceless %}
{% endblock form_rows %}

{% block file_widget %}
    {% spaceless %}
        {% if file_name is not null%}
            <div id="{{ id }}_preview"{% for attrname, attrvalue in preview_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% set file_url =  app.request.basePath ~ vich_uploader_asset(entity, file_property_path) %}
            <div id="{{ id }}_preview_download">
                <a href="{{ file_url }}" target="blank">{{ 'form.file.download'|trans({'%name%': file.filename}, 'FSiFormExtensionsBundle') }}</a>
            </div>
            <div id="{{ id }}_preview_url">
                {{ 'form.file.url'|trans({'%url%': file_url}, 'FSiFormExtensionsBundle') }}
            </div>
            <div  id="{{ id }}_preview_details_size">
                {{ 'form.file.size'|trans({'%size%': file.size}, 'FSiFormExtensionsBundle') }}
            </div>
            </div>
        {% endif %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock %}

{% block imagefile_widget %}
    {% spaceless %}
        {% if file_name is not null%}
            <div id="{{ id }}_preview"{% for attrname, attrvalue in preview_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% set file_url =  app.request.basePath ~ vich_uploader_asset(entity, file_property_path) %}
            {% if imagine_filter is not null %}
                {% set thumb_url =  file_url|apply_filter(imagine_filter) %}
                <a href="{{ file_url }}" target="blank"><img src="{{ thumb_url }}" alt="{{ file.filename }}"></a>
            {% else %}
                <a href="{{ file_url }}" target="blank">{{ 'form.fileimage.preview'|trans({}, 'FSiFormExtensionsBundle') }}</a>
            {% endif %}
            </div>
        {% endif %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock %}

{% block ckeditor_widget %}
    {% spaceless %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>

    <script type="text/javascript">
        var CKEDITOR_BASEPATH = '{{ app.request.basePath ~ '/bundles/fsiformextensions/ckeditor/' | raw }}';
    </script>

    {{ include_ckeditor() }}

    <script type="text/javascript">
        {% autoescape true %}
        CKEDITOR.replace("{{ id }}", {
            ui_color: '{{  form.vars.ckeditor_config.ui_color }}',
            forcePasteAsPlainText: {{ form.vars.ckeditor_config.force_paste_as_plaintext }},
            language: '{{ form.vars.ckeditor_config.language }}',
            toolbar: {{ form.vars.ckeditor_config.toolbar | json_encode | raw }},
            {% if form.vars.ckeditor_config.width is not null %}
            width: '{{ form.vars.ckeditor_config.width }}',
            {% endif %}
            {% if form.vars.ckeditor_config.height is not null %}
            height: '{{ form.vars.ckeditor_config.height }}',
            {% endif %}
            {% if form.vars.ckeditor_config.skin is not null %}
            skin: '{{ form.vars.ckeditor_config.skin }}',
            {% endif %}
            {% if form.vars.ckeditor_config.base_href is null %}
            baseHref: '{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ app.request.basePath }}',
            {% else %}
            baseHref: '{{ form.vars.ckeditor_config.base_href }}',
            {% endif %}
            {% if form.vars.ckeditor_config.body_class is not null %}
            bodyClass: '{{ form.vars.ckeditor_config.body_class }}',
            {% endif %}
            {% if form.vars.ckeditor_config.body_id is not null %}
            bodyId: '{{ form.vars.ckeditor_config.body_id }}',
            {% endif %}
            {% if form.vars.ckeditor_config.enter_mode is not null %}
            enterMode: CKEDITOR.{{ form.vars.ckeditor_config.enter_mode }},
            {% endif %}
        });
        {% endautoescape %}
    </script>
    {% endspaceless %}
{% endblock %}