{% block fsi_ckeditor_widget %}
{% if form.vars.ckeditor_config.contentsCss is defined %}
    {% set ckeditor_config = form.vars.ckeditor_config|merge({'contentsCss' : asset(form.vars.ckeditor_config.contentsCss)}) %}
{% else %}
    {% set ckeditor_config = form.vars.ckeditor_config %}
{% endif %}
{% spaceless %}
    <textarea {{ block('widget_attributes') }} data-ckeditor-options="{{ ckeditor_config|json_encode }}">{{ value }}</textarea>
    {{ fsi_ckeditor_initialize(form) }}
{% endspaceless %}
{% endblock %}

{% block fsi_ckeditor_initialize %}
{% spaceless %}
{{ fsi_ckeditor_include() }}
<script>
    var optionsData = document.getElementById('{{ form.vars.id }}').getAttribute('data-ckeditor-options'),
        options = JSON && JSON.parse(optionsData) || eval(optionsData);

    CKEDITOR.replace('{{ form.vars.id }}', options);
</script>
{% endspaceless %}
{% endblock %}

{% block fsi_map_widget %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        <div class="map-location__map" style="height: 300px; margin-bottom: 15px"></div>
        {{ form_rest(form) }}
        <script>
            requirejs.config({
                paths: {
                    "async": "{{ asset('bundles/fsiformextensions/js/requirejs-async') }}",
                    "jquery": "{{ asset('bundles/fsiformextensions/js/jquery-1.11.2.min') }}",
                    "fsi-map": "{{ asset('bundles/fsiformextensions/js/map') }}"
                }
            });
            define('google-maps', ['async!http://maps.google.com/maps/api/js?sensor=false{% if fsi_map_api_key %}&key={{ fsi_map_api_key }}{% endif %}'], function() {
                return window.google.maps;
            });
            require(['jquery', 'fsi-map'], function($) {
                $('#{{ form.vars.id }}').fsiMap();
            });
        </script>
    </div>
{% endspaceless %}
{% endblock %}
